<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gropius Login-UI</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        h4 {
            margin-block-end: 0;
        }

        pre,
        .body {
            font-family: 'Cascadia Mono', 'Consolas', 'Courier New', Courier, monospace;
            margin: 0;
            white-space: nowrap;
        }
    </style>
    <script src="/vue/dist/vue.global.prod.js"></script>
</head>

<body>
    <main id="app">
        <h1>Gropius Login UI</h1>
        <table>
            <tbody>
                <tr>
                    <td>Login via:</td>
                    <td>
                        <select v-model="selectedInstance">
                            <option v-for="instance in availableInstances" :key="instance.id" :value="instance.id">{{
                                instance.name }}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <script type="module">
        import MainModule from "./login-ui-main.js";

        Vue.createApp(MainModule).mount("#app");
    </script>
</body>

</html>